body {
    margin: 0px;
}

.title-text {
    width: auto;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.section-unavailable {
    background-color: #D8D7D7;;
    height: 66vh;
}

.section-men {
    background-image: url("../bg-pattern-men.svg");
    background-color: #D6E6FF;
    height: 66vh;
}

.section-men .title {
    color: #002772;
}

.section-men .buy-now {
    border: 3px solid #002772;
    background: #002772;
}

.section-men .next-item {
    border: 3px solid #002772;
    background: #FFF;
    color: #002772;
}

.section-men .price {
    color: #002772;
}

.section-women {
    background-image: url("../bg-pattern-women.svg");
    background-color: #FDEFFF;
    height: 66vh;
}

.section-women .title {
    color: #720060;
}

.section-women .buy-now {
    border: 3px solid #720060;
    background: #720060;
}

.section-women .next-item {
    border: 3px solid #720060;
    background: #FFF;
    color: #720060;
}

.section-women .price {
    color: #720060;
}


.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.title {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.card, .skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.container, .container-unavailable, .skeleton-container {
    padding: 20px 70px;
    text-align: center;
    width: 75%;
    height: 700px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../sad-face.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: 500px;
}

.row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.row-wrapper-vertical {
    height: 100%;
}

.column-wrapper-vertical {
    box-sizing: content-box;
}

.type-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-wrapper {
    position: relative;
    flex: 50%;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.column-wrapper:first-child {
    flex: 25%;
    height: auto;
    margin-right: 10px;
}

.gender {
    color: #3F3F3F;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rating {
    color: #3F3F3F;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    text-align: left;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.description {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.dot {
    height: 25px;
    width: 25px;
    border: 2px solid #bbb;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 3px;
}

.dot-fill-men {
    border: 2px solid #002772;
    background-color: #002772;
}

.dot-men {
    border: 2px solid #002772;
}

.dot-fill-women {
    border: 2px solid #720060;
    background-color: #720060;
}

.dot-women {
    border: 2px solid #720060;
}

.buttons, .skeleton-buttons {
    display: flex;
    justify-content: space-between;
}

.buy-now, .skeleton-buy-now {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    margin-right: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 35px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.next-item, .next-item-unavailable, .skeleton-next-item {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    background: #FFF;
    font-family: Inter;
    font-size: 35px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.comment-unavailable {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.next-item-unavailable {
    width: 70%;
    border-radius: 4px;
    border: 3px solid #000;
    background: #FFF;
    color: #000;
}

.bottom-text {
    position: absolute;
    bottom: 0; 
    min-width: 100%;
    padding-bottom: 20px;
}

@keyframes pulse {
    0% {
        background-color: #94A3B8;
    }

    50% {
        background-color: #CBD5E1;
    }

    100% {
        background-color: #94A3B8;
    }
}

.skeleton-title {
    width: 600px;
    height: 40px;
    animation: pulse 2s infinite ease-in-out;
    margin-bottom: 25px;
}

.skeleton-gender {
    width: 180px;
    height: 25px;
    animation: pulse 2s infinite ease-in-out;
}

.skeleton-rating {
    width: 120px;
    height: 35px;
    margin-bottom: 20px;
    animation: pulse 2s infinite ease-in-out;
}

.skeleton-img {
    width: 500px;
    height: 630px;
    border-radius: 5%;
    animation: pulse 2s infinite ease-in-out;
}

.skeleton-description span:nth-child(1) {
    display: block;
    width: 550px;
    height: 30px;
    animation: pulse 2s infinite ease-in-out;
}

.skeleton-description span:nth-child(2) {
    display: block;
    width: 350px;
    height: 30px;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 5px;
}

.skeleton-description span:nth-child(3) {
    display: block;
    width: 350px;
    height: 30px;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 5px;
}

.skeleton-next-item, .skeleton-buy-now {
    border: none;
    animation: pulse 2s infinite ease-in-out;
}